!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Joles Asphalt Paving
    %meta{:content => "Joles Asphalt Paving", :name => "description"}/
    %meta{:content => "stay creative design", :name => "author"}/
    %meta{:content => "asphalt paving tulsa, oklahoma asphalt paving", :name => "keywords"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Stylesheets
    %link{:href => "bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    / bootstrap grid
    %link{:href => "bootstrap/css/bootstrap-theme.min.css", :rel => "stylesheet"}/
    / bootstrap theme
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    / template styles
    %link{:href => "css/color-default.css", :rel => "stylesheet"}/
    / default template color styles
    %link{:href => "css/retina.css", :rel => "stylesheet"}/
    / retina ready styles
    %link{:href => "css/responsive.css", :rel => "stylesheet"}/
    / responsive styles
    %link{:href => "css/animate.css", :rel => "stylesheet"}/
    / animation for content
    %link{:href => "owl-carousel/owl.carousel.css", :rel => "stylesheet"}/
    / .carousels
    %link{:href => "owl-carousel/owl.theme.css", :rel => "stylesheet"}/
    / .carousels
    / Font icons
    %link{:href => "fonts/font-awesome-4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    / Fontawesome icons css
    / Revolution slider
    %link{:href => "rs-plugin/css/settings.css", :rel => "stylesheet"}/
    / .rs-settings end
    %link{:href => "rs-plugin/css/builder.css", :rel => "stylesheet"}/
    / settings for rev slider
    / Magnific Popup - video lightbox
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    / Google Web fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,300italic,400,800,700,600", :rel => "stylesheet", :type => "text/css"}/
  %body
    %a{:name => "#home"}
    .header-wrapper.bg-grey
      / .header start
      %header#header
        .header-inner
          / .container start
          .container
            / .main-nav start
            .main-nav
              / .row start
              .row.bg-grey
                .col-md-6
                  %nav.navbar.navbar-default.no-pb.nav-left{:role => "navigation"}
                    / .navbar-header start
                    .navbar-header.no-pb
                      .logo.logo-area.no-pb
                        %h1.orange.logo-margin-fix
                          Joles Asphalt Paving
                      / .logo end

                  %p.contact-info
                    %strong Phone:
                    %span.orange
                      %a{:href => "tel:888-779-0246" } 888-779-0246
                    %strong
                      Free Estimates
                .col-md-6
                  %ul.list-inline.nav-area.no-pb
                    %li
                      %a{:href => "#home", :style => "orange"} Home
                    %li
                      %a{:href => "#about", :style => "orange"} About us
                    %li
                      %a{:href => "#about"} Services
                    %li
                      %a{:href => "#contact"} Contact
    .tp-banner-container.fullwidthbanner
      #rev-slider.tp-banner
        %ul
          / SLIDE ONE
          %li{"data-masterspeed" => "700", "data-slotamount" => "5", "data-title" => "winter", "data-transition" => "fade"}
            / MAIN IMAGE
            %img{:alt => "slidebg3", "data-bgfit" => "cover", "data-bgposition" => "center center", "data-bgrepeat" => "no-repeat", :src => "img/slider/slide-01.jpg"}/
            .tp-caption.tp-big-heading.tp-big-heading-bold.tp-white.sfb.text-center{"data-easing" => "Back.easeOut", "data-endspeed" => "500", "data-speed" => "500", "data-start" => "1000", "data-x" => "110", "data-y" => "310", :style => "z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"}
              Over
              %span 35
              years of experience
            .tp-caption.tp-small-heading.sfb{"data-easing" => "Back.easeOut", "data-endspeed" => "500", "data-speed" => "500", "data-start" => "1100", "data-x" => "360", "data-y" => "370", :style => "z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"}
              Serving state wide very proudly for over 35 years
    .page-content
      .container
        / .row start
        .row.mb-0.negative-top-margin
          .col-md-4.col-sm-4
            .feature-box.style-1
              .feature-body{:style => "overflow: hidden;"}
                .custom-heading.pull-left{:style => "width: 20%;"}
                  %img.img-responsive{:src => "/img/truck.png"}
                .custom-heading.pull-right.text-left{:style => "width: 75%"}
                  %h4 Free Estimates
                  %p We offer affordable estimates to match your budget!
          .col-md-4.col-sm-4
            .feature-box.style-1
              .feature-body{:style => "overflow: hidden;"}
                .custom-heading.pull-left{:style => "width: 20%;"}
                  %img.img-responsive{:src => "/img/truck.png"}
                .custom-heading.pull-right.text-left{:style => "width: 75%"}
                  %h4 Locally Owned
                  %p We are proud to be locally owned and operated for 35 years.

          .col-md-4.col-sm-4
            .feature-box.style-1
              .feature-body{:style => "overflow: hidden;"}
                .custom-heading.pull-left{:style => "width: 20%;"}
                  %img.img-responsive{:src => "/img/truck.png"}
                .custom-heading.pull-right.text-left{:style => "width: 75%"}
                  %h4 Experience
                  %p We have over 35 years of experience getting the job done!
    .page-content.quote.style-1.custom-background.bkg-darkgrey.dark.mb-70
    .page-content
      .container
        .row
          .col-md-4.col-sm-4
            .feature-box.style-2
              .feature-media
                %img.img-responsive{:alt => "Builder Construction HTML Template", :src => "img/pics/img-01.jpg"}/
              / .feature-media end
              .feature-body
                .custom-heading.style-1
                  %h4 About us
                / .custom-heading end
                %p
                  We are builder construction company from Uk with over 20 years
                  of experience in house remodeling, green building and renovations.
                .custom-heading.style-1
                  %h4 Free Estimates
                .custom-heading.style-1
                  %h4 All work guaranteed
                .custom-heading.style-1
                  %h4 Locally owned and operated
                .custom-heading.style-1
                  %h4 City and Townships services
                %a{:name => "about"}
          .col-md-4.col-sm-4
            .feature-box.style-2
              .feature-media
                %img.img-responsive{:alt => "Builder Construction HTML Template", :src => "img/pics/img-02.jpg"}/
              .feature-body
                .custom-heading.style-1
                  %h4 Residential Services
                / .custom-heading end
                %p
                  Our commitment is to provide quality service and make long-term satisfied clients. Our professional residential services include but are not limited to:
                %ul
                  %li
                    .custom-heading.style-1
                      %h4
                        Driveway Paving
                  %li
                    .custom-heading.style-1
                      %h4
                        Roadway Patching
                  %li
                    .custom-heading.style-1
                      %h4
                        Remodeling
                  %li
                    .custom-heading.style-1
                      %h4
                        Crack Repair/Sealing
                  %li
                    .custom-heading.style-1
                      %h4
                        Excavation/Gravel Work
          .col-md-4.col-sm-4
            .feature-box.style-2
              .feature-media
                %img.img-responsive{:alt => "", :src => "img/pics/img-03.jpg"}/
              .feature-body
                .custom-heading.style-1
                  %h4 Commercial Services
                / .custom-heading end
                %p
                  Our highly educated staff will make sure that your project will be finished
                  on time and specified budget.
                %ul
                  %li
                    .custom-heading.style-1
                      %h4
                        Retail Parking Areas
                  %li
                    .custom-heading.style-1
                      %h4
                        Roadway Paving

                  %li
                    .custom-heading.style-1
                      %h4
                        Entrances / Exits
                  %li
                    .custom-heading.style-1
                      %h4
                        Parking Lots of all sizes

                      %h4
                        Drive Throughs

                  %li
                    .custom-heading.style-1
                      %h4
                        Crack Repair/Sealing

                  %li
                    .custom-heading.style-1
                      %h4
                        Striping
                  %li
                    .custom-heading.style-1
                      %h4
                        Patching/Milling/Site Management
                  %li
                    .custom-heading.style-1
                      %h4
                        Excavation/Gravel Work

                  %li
                    .custom-heading.style-1
                      %h4
                        Driveway Paving
    .page-content
      .container-fluid
        / .row start
        .row.mb-0
          / .col-md-12 start
          .col-md-12.padding-0
            .carousel-wrapper
              .col-md-12
                %h2.orange Our work
                %p
                  These are just a few of our satisfied customers
              .carousel-container
                #gallery-carousel.owl-carousel.owl-theme
                  .item
                    .gallery-carousel-item
                      %figure
                        %img.img-responsive{:alt => "", :src => "img/pics/img-04.jpg"}/
                        .hover-mask-container
                          .hover-zoom
                            Commercial Project
                  .item
                    .gallery-carousel-item
                      %figure
                        %img.img-responsive{:alt => "", :src => "img/pics/img-05.jpg"}/
                        .hover-mask-container
                          .hover-zoom
                            Commercial Project
                  .item
                    .gallery-carousel-item
                      %figure
                        %img.img-responsive{:alt => "", :src => "img/pics/img-06.jpg"}/
                        .hover-mask-container
                          .hover-zoom
                            Residential Project
                  .item
                    .gallery-carousel-item
                      %figure
                        %img.img-responsive{:alt => "", :src => "img/pics/img-07.jpg"}/
                        .hover-mask-container
                          .hover-zoom
                            Residential Project
                  .item
                    .gallery-carousel-item
                      %figure
                        %img.img-responsive{:alt => "", :src => "img/pics/img-08.jpg"}/
                        .hover-mask-container
                          .hover-zoom
                            Residential Project
    .row.bg-grey.no-mb
      .container-fluid
        .col-md-12.text-center.videos
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/z-tLWGcSRcU", :width => "80%"}
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/zliB5upkNt8", :width => "80%"}
    #footer-wrapper
      %a{:name => "contact"}
      / #footer start
      %footer#footer
        / .container start
        .container
          / .row start
          .row
            / .col-md-3 start
            .col-md-12.col-sm-12.text-center
              %h1.orange
                Joles Asphalt Paving
              .footer-info
                %ul
                  %li
                    %strong Phone:
                    %span.orange
                      %a{:href => "tel:888-779-0246"}888-779-0246
                  %li
                    Free Estimates
                  %li
                    Work Guaranteed
                  %li.orange
                    Serving Statewide proudly for 35 years
                  %li.text-center
                    %br
                    %img{ :src => "img/bbb.png"}
            / .col-md-3 end
          / .row end
        / .container end
      / #footer end
    / #footer-wrapper end
    / #copyright-container start
    #copyright-container
      / .container start
      .container
        / .row start
        .row
          / .col-md-6 start
          .col-md-6.col-sm-6
            %p
              %strong © Joles Asphalt Paving
              2016. All rights reserved
      %a.scroll-up{:href => "#"}
        %span.icon-container
          %img.img-responsive{:alt => "arrow icon", :src => "img/svg/arrowup.svg"}/
    / .copyright-container end
    %script{:src => "js/jquery-2.1.4.min.js"}
    / jQuery library
    %script{:src => "bootstrap/js/bootstrap.min.js"}
    / .bootstrap script
    %script{:src => "js/jquery.scripts.min.js"}
    / modernizr, retina...
    %script{:src => "rs-plugin/js/jquery.themepunch.tools.min.js"}
    / Revolution slider script
    %script{:src => "rs-plugin/js/jquery.themepunch.revolution.min.js"}
    / Revolution slider script
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / used for video lightbox
    %script{:src => "owl-carousel/owl.carousel.min.js"}
    / Carousels script
    %script{:src => "js/retina.js"}
    / retina script
    %script{:src => "js/include.js"}
    / custom js functions
    :javascript
      /* <![CDATA[ */
      jQuery(document).ready(function ($) {
          'use strict';

          jQuery('#rev-slider').revolution(
                  {
                      dottedOverlay: "none",
                      delay: 9000,
                      startwidth: 1170,
                      startheight: 700,
                      hideThumbs: 200,
                      thumbWidth: 100,
                      thumbHeight: 50,
                      thumbAmount: 3,
                      navigationType: "none",
                      navigationArrows: "solo",
                      navigationStyle: "preview5",
                      touchenabled: "on",
                      onHoverStop: "off",
                      swipe_velocity: 0.7,
                      swipe_min_touches: 1,
                      swipe_max_touches: 1,
                      drag_block_vertical: false,
                      keyboardNavigation: "on",
                      navigationHAlign: "center",
                      navigationVAlign: "bottom",
                      navigationHOffset: 0,
                      navigationVOffset: 20,
                      soloArrowLeftHalign: "left",
                      soloArrowLeftValign: "center",
                      soloArrowLeftHOffset: 20,
                      soloArrowLeftVOffset: 0,
                      soloArrowRightHalign: "right",
                      soloArrowRightValign: "center",
                      soloArrowRightHOffset: 20,
                      soloArrowRightVOffset: 0,
                      shadow: 0,
                      fullWidth: "on",
                      fullScreen: "off",
                      spinner: "spinner0",
                      stopLoop: "off",
                      stopAfterLoops: -1,
                      stopAtSlide: -1,
                      shuffle: "off",
                      forceFullWidth: "off",
                      fullScreenAlignForce: "off",
                      minFullScreenHeight: "400",
                      hideThumbsOnMobile: "off",
                      hideNavDelayOnMobile: 1500,
                      hideBulletsOnMobile: "off",
                      hideArrowsOnMobile: "off",
                      hideThumbsUnderResolution: 0,
                      hideSliderAtLimit: 0,
                      hideCaptionAtLimit: 0,
                      hideAllCaptionAtLilmit: 0,
                      startWithSlide: 0,
                      hideTimerBar: "on"
                  });

          $('.video-post').magnificPopup({
              type: 'iframe',
              iframe: {
                  markup: '<div class="mfp-iframe-scaler">' +
                          '<div class="mfp-close"></div>' +
                          '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>' +
                          '</div>'
              }
          });

          // GALLERY CAROUSEL
          $('#gallery-carousel').owlCarousel({
              items: 5, //5 items above 1000px browser width
              itemsCustom: [[0, 1], [600, 2], [1000, 4], [1300, 5]],
              autoPlay: true,
              pagination: false,
              navigation: true
          });

          // TESTIMONIAL CAROUSEL START
          $('#testimonial-carousel').owlCarousel({
              items: 2, //2 items above 1000px browser width
              itemsCustom: [[0, 1], [600, 2], [1000, 2]],
              autoPlay: true,
              pagination: false,
              navigation: true
          });

      });
      /* ]]> */
