!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Union Color Salon - Wellington - Best hair salon
    %meta{:content => "Joles Asphalt Paving", :name => "description"}/
    %meta{:content => "stay creative design", :name => "author"}/
    %meta{:content => "asphalt paving tulsa, oklahoma asphalt paving", :name => "keywords"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Stylesheets
    %link{:href => "bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    / bootstrap grid
    %link{:href => "bootstrap/css/bootstrap-theme.min.css", :rel => "stylesheet"}/
    / bootstrap theme
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    / template styles
  %body
    .container
      .row
        .col-md-12.text-center
          %h1
            Hello
