@font-face {
  font-family: 'sans-light';
  src: url('/fonts/A750-Sans-Cd-Light-webfont.eot');
  src: url('/fonts/A750-Sans-Cd-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/A750-Sans-Cd-Light-webfont.woff2') format('woff2'),
       url('/fonts/A750-Sans-Cd-Light-webfont.woff') format('woff'),
       url('/fonts/A750-Sans-Cd-Light-webfont.ttf') format('truetype'),
       url('/fonts/A750-Sans-Cd-Light-webfont.svg#a750-sans-cdlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'ancona';
    src: url('/fonts/Ancona-Cd-Regular-webfont.eot');
    src: url('/fonts/Ancona-Cd-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Ancona-Cd-Regular-webfont.woff2') format('woff2'),
         url('/fonts/Ancona-Cd-Regular-webfont.woff') format('woff'),
         url('/fonts/Ancona-Cd-Regular-webfont.ttf') format('truetype'),
         url('/fonts/Ancona-Cd-Regular-webfont.svg#ancona-cdregular') format('svg');
    font-weight: normal;
    font-style: normal;

}